################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1x
*.suo
/.vs
*.pfx
*.cache
*.ai
/PowerShell.svg
